/*¯\_(ツ)_/¯ Why are you looking at my CSS?*/
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
body::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
body::-webkit-scrollbar-thumb {
    background-image: repeating-linear-gradient(45deg, white 0, white 12px, #111 0, #111 24px);
    background-clip: content-box;
}
#cursor {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 999;
    pointer-events: none;
    user-select: none;
    animation: appear 0.2s ease-in backwards;
}
@keyframes cursorLoading {
    0%, 100%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
