/*¯\_(ツ)_/¯ Why are you looking at my CSS?*/
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
body::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
body::-webkit-scrollbar-thumb {
    background-image: repeating-linear-gradient(45deg, white 0, white 12px, #111 0, #111 24px);
    background-clip: content-box;
}
#cursor {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 999;
    pointer-events: none;
    user-select: none;
}
#cursorTL {
    position: absolute;
    top: 0px;
    left: 0px;
}
#cursorTR {
    position: absolute;
    top: 0px;
    right: 0px;
}
#cursorBL {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#cursorBR {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
@keyframes TLloading {
    25% {
        top: 0px;
        left: 24px;
        rotate: 90deg;
    }
    50% {
        top: 24px;
        left: 24px;
        rotate: 180deg;
    }
    75% {
        top: 24px;
        left: 0px;
        rotate: 270deg;
    }
    100% {
        top: 0px;
        left: 0px;
        rotate: 360deg;
    }
}
@keyframes TRloading {
    25% {
        top: 24px;
        right: 0px;
        rotate: 90deg;
    }
    50% {
        top: 24px;
        right: 24px;
        rotate: 180deg;
    }
    75% {
        top: 0px;
        right: 24px;
        rotate: 270deg;
    }
    100% {
        top: 0px;
        right: 0px;
        rotate: 360deg;
    }
}
@keyframes BLloading {
    25% {
        bottom: 24px;
        left: 0px;
        rotate: 90deg;
    }
    50% {
        bottom: 24px;
        left: 24px;
        rotate: 180deg;
    }
    75% {
        bottom: 0px;
        left: 24px;
        rotate: 270deg;
    }
    100% {
        bottom: 0px;
        left: 0px;
        rotate: 360deg;
    }
}
@keyframes BRloading {
    25% {
        bottom: 0px;
        right: 24px;
        rotate: 90deg;
    }
    50% {
        bottom: 24px;
        right: 24px;
        rotate: 180deg;
    }
    75% {
        bottom: 24px;
        right: 0px;
        rotate: 270deg;
    }
    100% {
        bottom: 0px;
        right: 0px;
        rotate: 360deg;
    }
}
@keyframes cursorAppear {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
        opacity: 1;
    }
}
@keyframes cursorDisappear {
    20% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}