/*¯\_(ツ)_/¯ Why are you looking at my CSS?*/
#JSneeded {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 35rem;
    z-index: 2;
    animation: appear 0.2s ease-in backwards;
}
#shade1Text {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: white;
    animation: appear 0.2s ease-in backwards;
}
#shade1 {
    display: block;
}
.shade {
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #080808;
    z-index: 1;
}
#container {
    display: none;
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    color: white;
    animation: appear 0.2s ease-in forwards;
}
.box {
    position: relative;
    margin-top: 10rem;
    left: 10%;
    width: 80%;
    min-width: 35rem;
}
#main {
    font-size: 3.5rem;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.4);
}
.textimg {
    height: 2.5rem;
}
.hoverable {
    cursor: pointer;
    color: white;
}
.hoverable:hover {
    color: rgb(250, 100, 0);
}
#projects {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
}
.title {
    position: relative;
    font-size: 3.5rem;
    line-height: 1.2;
    color: white;
}
.Pbox {
    overflow: hidden;
}
.PimgBox {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 20rem;
    overflow: auto;
    margin-top: -20rem;
    z-index: -1;
    transition: margin-top 0.5s 0.1s;
    cursor: ew-resize;
}
.PimgBox::-webkit-scrollbar {
    display: none;
}
.Pimg {
    height: 100%;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    opacity: 0;
    -webkit-user-drag: none;
    transition: opacity 0.2s;
}
.Pimg:hover {
    outline: 0.2rem solid rgb(250, 100, 0);
    outline-offset: -0.2rem;
}
#P4box:hover #P4imgBox {
    margin-top: 0rem;
    z-index: 1;
    transition: margin-top 0.5s, z-index 0s 0.5s;
}
#P4box:hover #P4img {
    opacity: 1;
    transition: opacity 0.2s 0.4s;
}
#P2box:hover #P2imgBox {
    margin-top: 0rem;
    z-index: 1;
    transition: margin-top 0.5s, z-index 0s 0.5s;
}
#P2box:hover #P2img {
    opacity: 1;
    transition: opacity 0.2s 0.4s;
}
#moments {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
}
#footer {
    font-size: 3.5rem;
    line-height: 1.2;
    color: white;
    text-align: center;
}

#shade2 {
    display: none;
}
.shadeBox {
    position: relative;
    margin-top: 2rem;
    left: 5%;
    width: 90%;
    min-width: 35rem;
}
.shadeBox2 {
    position: relative;
    margin-top: 2rem;
    left: 0rem;
    width: 100%;
    display: none;
}
#map {
    display: none;
    position: relative;
    width: 60%;
    max-width: 35rem;
    float: left;
}
#locationInfo {
    position: relative;
    top: 0rem;
    left: 37rem;
    width: calc(100% - 37rem);
    color: white;
}
#axis {
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-top: -3rem;
}
#LL {
    display: none;
    font-size: 14rem;
    color: rgb(250, 100, 0);
}
#SS {
    display: none;
    color: rgba(255, 255, 255, 0.4);
}
#timeTitle {
    display: none;
}
@media (max-width: 1260px) {
    #axis {
        margin-top: -2rem;
    }
    #LL {
        font-size: 10rem;
    }
}
@media (max-width: 1092px) {
    #axis {
        margin-top: -1.6rem;
    }
    #LL {
        font-size: 8rem;
    }
}
@media (max-width: 894px) {
    #axis {
        margin-top: -1.2rem;
    }
    #LL {
        font-size: 5rem;
    }
}
@media (max-width: 65rem) {
    #locationInfo {
        left: 63.2%;
        width: 38%;
    }
}