.notice_box {
  border-style: solid;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 40px;
  border-right-width: 40px;
  border-radius: 10px;
  min-width: 259px;
  min-height: 32px;
  font-size: 24px;
  text-align: center;
  font-family: Microsoft YaHei, sans-serif;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 204, 0);
  background-color: rgb(255, 204, 0);
  position: fixed;
  top: 15px;
  left: 50%;
  z-index: 100;
  display: none;
}
.notice_box_button {
  user-select: none;
  -webkit-user-select: none;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 225, 100);
  position: absolute;
  z-index: 101;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.notice_box_button:hover {
  background-color: rgb(255, 204, 0);
}
@keyframes notice_box_pop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appear {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateY(0px);
  }
}
#background_circle {
  user-select: none;
  -webkit-user-select: none;
  width: 1600px;
  height: 1600px;
  border-radius: 900px;
  background-color: rgb(0, 47, 167);
  position: absolute;
  right: -650px;
  top: -1050px;
  z-index: -2;
  animation: appear 0.5s ease;
  animation-fill-mode: forwards;
  -webkit-animation: appear 0.5s ease;
  -webkit-animation-fill-mode: forwards;
}
#background_box {
  user-select: none;
  -webkit-user-select: none;
  width: 1150px;
  height: 550px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -3;
}
.background_text {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  font-size: 96px;
  font-family: Microsoft YaHei, sans-serif;
  z-index: -1;
}
#background_text_01 {
  min-width: 339px;
  right: 798px;
  top: 155px;
  color: rgb(0, 47, 167);
  animation: appear 0.4s ease;
  animation-fill-mode: forwards;
  -webkit-animation: appear 0.4s ease;
  -webkit-animation-fill-mode: forwards;
}
#background_text_02 {
  min-width: 360px;
  right: 410px;
  top: 155px;
  color: rgb(255, 255, 255);
  animation: appear 0.6s ease;
  animation-fill-mode: forwards;
  -webkit-animation: appear 0.6s ease;
  -webkit-animation-fill-mode: forwards;
}
#background_text_03 {
  min-width: 430px;
  right: 714px;
  top: 265px;
  color: rgb(0, 47, 167);
  animation: appear 0.4s ease;
  animation-fill-mode: forwards;
  -webkit-animation: appear 0.4s ease;
  -webkit-animation-fill-mode: forwards;
}
#background_text_04 {
  min-width: 281px;
  right: 400px;
  top: 265px;
  color: rgb(255, 255, 255);
  animation: appear 0.6s ease;
  animation-fill-mode: forwards;
  -webkit-animation: appear 0.6s ease;
  -webkit-animation-fill-mode: forwards;
}
.cursor {
  user-select: none;
  -webkit-user-select: none;
  width: 42px;
  height: 6px;
  position: absolute;
  font-size: 96px;
  background-color: rgb(255, 255, 255);
  font-family: Microsoft YaHei, sans-serif;
  z-index: -1;
  animation: blink 1.12s steps(2, jump-none) infinite;
  -webkit-animation: blink 1.12s steps(2, jump-none) infinite;
}
#cursor {
  right: 350px;
  top: 360px;
}
@keyframes blink {
  0%,100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0%,100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
.down {
  user-select: none;
  -webkit-user-select: none;
  animation: bounce-down 1.5s linear infinite;
  -webkit-animation: bounce-down 1.5s linear infinite;
}
@keyframes bounce-down {
  25% {
    transform: translateY(-5px);
  }
  50%,100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}
@-webkit-keyframes bounce-down {
  25% {
    transform: translateY(-5px);
  }

  50%,100% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(5px);
  }
}
.title {
  position: absolute;
  font-size: 46px;
  color: rgb(0, 47, 167);
  font-family: Microsoft YaHei, sans-serif;
  z-index: -1;
}
.text {
  position: absolute;
  font-size: 26px;
  color: rgb(0, 0, 0);
  font-family: Microsoft YaHei, sans-serif;
  z-index: -1;
}
.text_icon {
  user-select: none;
  -webkit-user-select: none;
  width: 66px;
  height: 66px;
  position: absolute;
  transition: all 0.12s;
}
.text_icon:hover {
  transform: scale(1.12);
}
.button_box {
  user-select: none;
  -webkit-user-select: none;
  width: 190px;
  height: 75px;
  background-color: rgb(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.button_icon {
  user-select: none;
  -webkit-user-select: none;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(15deg);
}
.body_button {
  user-select: none;
  -webkit-user-select: none;
  padding: 10px 20px;
  border-radius: 20px;
  min-width: 170px;
  background-color: rgb(0, 47, 167);
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-family: Microsoft YaHei, sans-serif;
  border: none;
  position: absolute;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.body_button:hover {
  background-color: rgb(0, 47, 167, 0.88);
}
.pic {
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  width: 205px;
  height: 205px;
  border-radius: 50px;
}
#title_ME {
  left: 260px;
  top: 682px;
  min-width: 300px;
}
#text_ME {
  left: 260px;
  top: 754px;
  min-width: 525px;
}
#button_box_follow {
  left: 830px;
  top: 744px;
}
#button_box_chat {
  left: 830px;
  top: 819px;
}
#pic_ME {
  top: 695px;
  left: 26px;
  transform: rotate(-5deg)
}
#title_software {
  right: 260px;
  top: 1007px;
  min-width: 258px;
}
#text_software {
  right: 260px;
  top: 1079px;
  text-align: right;
  min-width: 455px;
}
#text_icon_html {
  right: 518px;
  top: 1234px;
}
#text_icon_css {
  right: 432px;
  top: 1234px;
}
#text_icon_js {
  right: 346px;
  top: 1234px;
}
#text_icon_python {
  right: 260px;
  top: 1234px;
}
#pic_software {
  top: 1020px;
  right: 26px;
  transform: rotate(5deg)
}
#title_hardware {
  left: 260px;
  top: 1332px;
  min-width: 276px;
}
#text_hardware {
  left: 260px;
  top: 1404px;
  min-width: 529px;
}
#text_icon_raspi {
  left: 260px;
  top: 1559px;
}
#pic_hardware {
  top: 1345px;
  left: 26px;
  transform: rotate(-5deg)
}
.bottom {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  left: 0px;
  top: 1655px;
  width: 100%;
  height: 80px;
  background-color: rgb(0, 47, 167);
  z-index: -2;
}
.bottom_text {
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  margin-top: -57px;
  margin-left: 10px;
  font-size: 20px;
  font-family: Microsoft YaHei, sans-serif;
  color: rgb(0, 0, 0, 0);
  z-index: -1;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.bottom_stuff {
  user-select: none;
  -webkit-user-select: none;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.bottom_stuff:hover {
  transform: translateX(-155px)
}
.bottom_stuff:hover+.bottom_text {
  color: rgb(255, 255, 255);
}
@media (min-width: 870px) and (max-width:1100px) {
  #background_circle {
    user-select: none;
    -webkit-user-select: none;
    width: 1600px;
    height: 1600px;
    border-radius: 900px;
    background-color: rgb(0, 47, 167);
    position: absolute;
    right: -900px;
    top: -1050px;
    z-index: -2;
  }
  #background_box {
    user-select: none;
    -webkit-user-select: none;
    width: 1150px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -3;
  }
  #background_text_01 {
    min-width: 339px;
    right: 548px;
    top: 155px;
    color: rgb(0, 47, 167);
  }
  #background_text_02 {
    min-width: 360px;
    right: 160px;
    top: 155px;
    color: rgb(255, 255, 255);
  }
  #background_text_03 {
    min-width: 430px;
    right: 464px;
    top: 265px;
    color: rgb(0, 47, 167);
  }
  #background_text_04 {
    min-width: 281px;
    right: 150px;
    top: 265px;
    color: rgb(255, 255, 255);
  }
  #cursor {
    right: 100px;
    top: 360px;
  }
  #button_box_follow {
    left: 260px;
    top: 900px;
  }
  #button_box_chat {
    left: 460px;
    top: 900px;
  }
}
@media (min-width: 550px) and (max-width:870px) {
  #logo_box {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    left: 16px;
    top: 22px;
    z-index: 0;
    background-color: rgb(255, 255, 255);
  }
  #logo_button {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    left: 16px;
    top: 22px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
  }
  .logo {
    display: none;
  }
  #logo_pic {
    display: block;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    border: none;
    left: 3px;
    top: 3px;
    z-index: 1;
  }
  #prods {
    right: 174px;
    top: 30px;
  }
  #prods_button {
    right: 154px;
    top: 25px;
  }
  #docs {
    right: 49px;
    top: 30px;
  }
  #docs_button {
    right: 24px;
    top: 25px;
  }
  #state {
    display: none;
  }
  #state_circle {
    display: none;
  }
  #state_circle_2 {
    display: none;
  }
  #state_button {
    display: none;
  }
  #background_circle {
    user-select: none;
    -webkit-user-select: none;
    width: 1600px;
    height: 1600px;
    border-radius: 900px;
    background-color: rgb(0, 47, 167);
    position: absolute;
    right: -385px;
    top: -1000px;
    z-index: -2;
  }
  #background_box {
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -3;
  }
  #background_text_01 {
    min-width: 339px;
    left: 16px;
    top: 80px;
    color: rgb(255, 255, 255);
  }
  #background_text_02 {
    min-width: 360px;
    left: 16px;
    top: 180px;
    color: rgb(255, 255, 255);
  }
  #background_text_03 {
    min-width: 430px;
    left: 16px;
    top: 280px;
    color: rgb(255, 255, 255);
  }
  #background_text_04 {
    min-width: 281px;
    left: 16px;
    top: 380px;
    color: rgb(255, 255, 255);
  }
  #cursor {
    left: 304px;
    top: 475px;
  }
  #title_ME {
    left: 20px;
    top: 682px;
    min-width: 300px;
  }
  #text_ME {
    left: 22px;
    top: 754px;
    min-width: 525px;
  }
  #button_box_follow {
    left: 20px;
    top: 900px;
  }
  #button_box_chat {
    left: 220px;
    top: 900px;
  }
  #pic_ME {
    display: none;
  }
  #title_software {
    right: 20px;
    top: 1007px;
    min-width: 258px;
  }
  #text_software {
    right: 22px;
    top: 1079px;
    text-align: right;
    min-width: 455px;
  }
  #text_icon_html {
    right: 280px;
    top: 1234px;
  }
  #text_icon_css {
    right: 194px;
    top: 1234px;
  }
  #text_icon_js {
    right: 108px;
    top: 1234px;
  }
  #text_icon_python {
    right: 22px;
    top: 1234px;
  }
  #pic_software {
    display: none;
  }
  #title_hardware {
    left: 20px;
    top: 1332px;
    min-width: 276px;
  }
  #text_hardware {
    left: 22px;
    top: 1404px;
    min-width: 529px;
  }
  #text_icon_raspi {
    left: 22px;
    top: 1559px;
  }
  #pic_hardware {
    display: none;
  }
}
/*for phone*/
@media (min-width: 0px) and (max-width:550px) {
  #logo_box {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    left: 16px;
    top: 22px;
    z-index: 0;
    background-color: rgb(255, 255, 255);
  }
  #logo_button {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    left: 16px;
    top: 22px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
  }
  .logo {
    display: none;
  }
  #logo_pic {
    display: block;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    border: none;
    left: 3px;
    top: 3px;
    z-index: 1;
  }
  #prods {
    right: 174px;
    top: 30px;
  }
  #prods_button {
    right: 154px;
    top: 25px;
  }
  #docs {
    right: 49px;
    top: 30px;
  }
  #docs_button {
    right: 24px;
    top: 25px;
  }
  #state {
    display: none;
  }
  #state_circle {
    display: none;
  }
  #state_circle_2 {
    display: none;
  }
  #state_button {
    display: none;
  }
  #background_circle {
    user-select: none;
    -webkit-user-select: none;
    width: 1600px;
    height: 1600px;
    border-radius: 900px;
    background-color: rgb(0, 47, 167);
    position: absolute;
    right: -385px;
    top: -1000px;
    z-index: -2;
  }
  #background_box {
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -3;
  }
  .background_text {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    font-size: 78px;
    font-family: Microsoft YaHei, sans-serif;
    z-index: -1;
  }
  #background_text_01 {
    min-width: 339px;
    left: 16px;
    top: 96px;
    color: rgb(255, 255, 255);
  }
  #background_text_02 {
    min-width: 360px;
    left: 16px;
    top: 192px;
    color: rgb(255, 255, 255);
  }
  #background_text_03 {
    min-width: 430px;
    left: 16px;
    top: 288px;
    color: rgb(255, 255, 255);
  }
  #background_text_04 {
    min-width: 281px;
    left: 16px;
    top: 384px;
    color: rgb(255, 255, 255);
  }
  #cursor {
    left: 254px;
    top: 461px;
  }
  #title_ME {
    left: 20px;
    top: 642px;
    min-width: 300px;
  }
  #text_ME {
    left: 22px;
    top: 714px;
    min-width: 368px;
  }
  #button_box_follow {
    left: 20px;
    top: 960px;
  }
  #button_box_chat {
    left: 20px;
    top: 1040px;
  }
  #pic_ME {
    display: none;
  }
  #title_software {
    right: 20px;
    top: 1147px;
    min-width: 258px;
  }
  #text_software {
    right: 22px;
    top: 1219px;
    text-align: right;
    min-width: 368px;
  }
  #text_icon_html {
    right: 280px;
    top: 1402px;
  }
  #text_icon_css {
    right: 194px;
    top: 1402px;
  }
  #text_icon_js {
    right: 108px;
    top: 1402px;
  }
  #text_icon_python {
    right: 22px;
    top: 1402px;
  }
  #pic_software {
    display: none;
  }
  #title_hardware {
    left: 20px;
    top: 1500px;
    min-width: 276px;
  }
  #text_hardware {
    left: 22px;
    top: 1572px;
    min-width: 368px;
  }
  #text_icon_raspi {
    left: 22px;
    top: 1751px;
  }
  #pic_hardware {
    display: none;
  }
  .bottom {
    top: 1840px;
  }
  .bottom_text {
    margin-top: -54px;
    font-size: 17px;
  }
  .bottom_stuff:hover {
    transform: translateX(-135px)
  }
}