/*¯\_(ツ)_/¯ Why are you looking at my CSS?*/
#JSneeded {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 35rem;
    z-index: 2;
    animation: appear 0.2s ease-in backwards;
}
#shade1Text {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: white;
    animation: appear 0.2s ease-in backwards;
}
#shade1 {
    display: block;
}
.shade {
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #080808;
    z-index: 1;
}
#container {
    display: none;
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    color: white;
    animation: appear 0.2s ease-in forwards;
}
.box {
    position: relative;
    margin-top: 10rem;
    left: 10%;
    width: 80%;
    min-width: 35rem;
}
#main {
    font-size: 3.5rem;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.4);
}
.textimg {
    height: 2.5rem;
}
.hoverable {
    cursor: pointer;
    color: white;
}
.hoverable:hover {
    color: rgb(250, 100, 0);
}
#projects {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
}
.title {
    position: relative;
    font-size: 3.5rem;
    line-height: 1.2;
    color: white;
}
#moments {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
}
#footer {
    font-size: 3.5rem;
    line-height: 1.2;
    color: white;
    text-align: center;
}
#shade2 {
    display: none;
}
.shadeBox {
    position: relative;
    margin-top: 2rem;
    left: 5%;
    width: 90%;
    min-width: 35rem;
}